.com{
    color:red;
    font-size: 17px;;

}
.main_text{
    text-align: right;
    color: rgb(139, 139, 139);
    font-size: larger;
}
.border{
    border: 4px solid black;
    border-radius: 10px;
}
.main_color{
    background-color: #007bdb;
}
.width{
    width: fit-content;
}
.button_color{
        background: rgb(252, 252, 252);
}
.button_color:hover{
    background-color:rgb(233, 230, 230) ;
}
.w-80{
    width:90%;
    margin: auto;
}
.my-list {
  direction: rtl;
  text-align: right;
  list-style-position: inside;
}

.my-list li {
  list-style-type: disc; /* شكل النقاط */
}

